# laravel-backend-deployment.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel-backend
  template:
    metadata:
      labels:
        app: laravel-backend
    spec:
      containers:
        - name: laravel-backend
          image: smaii/pickbazar-laravel
          ports:
            - containerPort: 80
          env:
            - name: DB_HOST
              value: mysql # Replace with your database host
            - name: DB_PORT
              value: '3306' # Replace with your database port
            - name: DB_DATABASE
              value: laravel # Replace with your database name
            - name: DB_USERNAME
              value: root # Replace with your database username
            - name: DB_PASSWORD
              value: secret # Replace with your database password

